body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



h1{
  margin: 0px;
  padding: 32px;
  font-size: 164px;
  color: white;
  font-weight: 400;
  letter-spacing: -0.11em;
  text-align: center;
}

.pa{
  color: white;
  text-align: center;
  letter-spacing: -0.02em;
  font-size: 32px;
}

.para{
  display: flex;
  width: 33%;

  color: rgb(218, 218, 218);
  text-align: center;
  letter-spacing: -0.02em;
}

.para-container{
  display: flex;
  align-items: center;
  justify-content: center;
}